<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Trending News Article Topics</title>
    <h1> News Article Topics </h1>
    <!-- You can download css and js from https://github.com/mistic100/jQCloud/tree/master/dist -->
    <link rel="stylesheet" href="../static/css/jqcloud.min.css">

    <!-- You need to include jquery before the jqcloud.js, you can get it from -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jqcloud.min.js"></script>

    <!-- here we included our script.js -->
    <script type="text/javascript" src="../static/js/word_cloud.js"></script>
  </head>
  <body>
    <div id="input_area">
      <form action="/">
        <select name="topic_select">
        	{% for topic in total_topics %}
        		{% if topic == current_topic %}
        			<option selected value="{{ topic }}">{{ topic }}</option>
        		{% else %}
        			<option value="{{ topic }}">{{ topic }}</option>
        		{% endif %}
        	{% endfor %}
        </select>
        <input type="submit" value="View Topic">
      </form>
    </div>
    <div class="count_plot">
      <h3> {{ plot_title }} </h3>
      <img src="/word_plot.png" alt="Count Plot">
    </div>
    {% if current_topic == total_topics[0] %}
      <h3> Select Topic for Word Cloud </h3>
    {% else %}
      <h3> Word Cloud Here </h3>
      <div id="word_cloud">
      </div>
    {% endif %}
  </body>
  <footer>
    <h3> Website by Peter Russo </h3>
    <h4> Word Cloud produced by <a href="http://mistic100.github.io/jQCloud/index.html">jQCloud</a></h4>
    <a href="https://github.com/s0eger/working_title"> github repo </a>
  </footer>
</html>
