<!DOCTYPE html>
<html>
  <head>
    <title>Trending News Article Topics</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/static/css/main.css" />
  </head>
  <body class="subpage">

    <!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="/" class="logo">App Name</a>
        <nav id="nav">
          <a href="/">Home</a>
        </nav>
        <a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
      </div>
    </header>

    <!-- Main -->
    <section id="main" class="wrapper">
      <div class="inner">
        <header class="align-center">
          <h2>Topics Listing for '{{ token }}'</h2>
          <p>List of topics that contain the word <strong>{{ token }}</strong></p>
        </header>
        {% if topic_list|length == 0 %}
          <p> No topics for this token </p>
        {% else %}
          <form action="/topic_counts/">
            <div class="row">
              <ul class="alt">
                {% for pair in topic_list %}
                  <li> <button name="topic_select" type="submit" value="{{ pair[0] }}"> View </button>
                    Word # {{ pair[1] }} in {{ pair[0] }}: {{ pair[2] }}...
                  </li>
                {% endfor %}
              </ul>
            </div>
          </form>
        {% endif %}
      </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
      <div class="copyright">
        <h3> Website by Peter Russo </h3>
        <ul class="icons">
          <li><a href="https://github.com/s0eger/working_title" class="icon fa-github"><span class="label">Github</span></a></li>
          <li><a href="http://linkedin.com/in/peter-russo-4b0b5839" class="icon fa-linkedin"><span class="label">Github</span></a></li>
        </ul>
        <p> CSS Template provided by <a href="https://templated.co"><strong>TEMPLATED</strong></a></p>
      </div>
    </footer>

    <!-- Scripts -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/skel.min.js"></script>
    <script src="/static/js/util.js"></script>
    <script src="/static/js/main.js"></script>

  </body>
</html>
