<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="UTF-8">
    <title>Topics Containing A Specific Token</title>
    <h1> Topics Containing '{{ token }}' </h1>
  </head>
  <body>
    {% if topic_list|length == 0 %}
      <p> No topics for this token </p>
    {% else %}
      <div id="topic_list">
        <form action="/">
          {% for pair in topic_list %}
            <p> <button name="topic_select" type="submit" value="{{ pair[0] }}"> View </button>
              word # {{ pair[1] }} in {{ pair[0] }}: {{ pair[2] }}...
            </p>
          {% endfor %}
        </form>
      </div>
    {% endif %}
    <div id="navigation" style="display:inline-block; vertical-align: middle;">
      <button onclick="location.href='/'">Home</button>
      <!-- <button onclick="location.href='/SCRN/ID=Caldaia'">CALDAIA</button>
      <button onclick="location.href='/SCRN/ID=Filtraggio'">FILTRAGGIO</button>
      <button onclick="location.href='/SCRN/ID=UTA'">U.T.A.</button>
      <button onclick="location.href='/SCRN/ID=Trending'">GRAFICI</button> -->
    </div>
  </body>
  <footer>
    <h3> Website by Peter Russo </h3>
    <a href="https://github.com/s0eger/working_title"> github repo </a>
  </footer>
</html>
